li {
    list-style: none;
}

.lw-content {
    width: 1200px;
    margin: 0 auto;
}

.lw-header {
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .1);

}


nav ul li {
    float: left;
    line-height: 50px;
    padding: 0 10px;
}

.lw-body {
    min-height: 800px;
    margin-bottom: 50px;
}

.lw-footer {
    background-color: #eee;
    height: 200px;
    font-size: 13px;
    text-align: center;
}
